@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i);





body {
  font-family: Poppins;
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-1 {
  font-family: 'Poppins', sans-serif;
  font-size: 4.25rem;
}
.display-2 {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
}
.display-4 {
  font-family: 'Poppins', sans-serif;
  font-size: 0.875rem;
}
.display-5 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
}
.display-7 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.06rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.7rem;
    font-size: calc( 0.95625rem + (0.875 - 0.95625) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.95625rem + (0.875 - 0.95625) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  font-weight: 500;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 1px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
}
.btn .mbr-iconfont {
  font-size: 1.6rem;
}
.btn-sm {
  font-weight: 500;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #35956c !important;
}
.bg-success {
  background-color: #9473d2 !important;
}
.bg-info {
  background-color: #7237a2 !important;
}
.bg-warning {
  background-color: #f8f9c4 !important;
}
.bg-danger {
  background-color: #efefef !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #35956c;
  border-color: #35956c;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff;
  background-color: #35956c;
  border-color: #35956c;
}
.btn-primary:before {
  background-color: #215d43;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #215d43 !important;
  border-color: #215d43 !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #f27d7a;
  border-color: #f27d7a;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff;
  background-color: #f27d7a;
  border-color: #f27d7a;
}
.btn-secondary:before {
  background-color: #eb3934;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #eb3934 !important;
  border-color: #eb3934 !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #7237a2;
  border-color: #7237a2;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff;
  background-color: #7237a2;
  border-color: #7237a2;
}
.btn-info:before {
  background-color: #4a2469;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #4a2469 !important;
  border-color: #4a2469 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #9473d2;
  border-color: #9473d2;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff;
  background-color: #9473d2;
  border-color: #9473d2;
}
.btn-success:before {
  background-color: #693cbc;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #693cbc !important;
  border-color: #693cbc !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #f8f9c4;
  border-color: #f8f9c4;
  color: #aaac12;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #aaac12;
  background-color: #f8f9c4;
  border-color: #f8f9c4;
}
.btn-warning:before {
  background-color: #f0f27f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #aaac12 !important;
  background-color: #f0f27f !important;
  border-color: #f0f27f !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #efefef;
  border-color: #efefef;
  color: #707070;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #707070;
  background-color: #efefef;
  border-color: #efefef;
}
.btn-danger:before {
  background-color: #c9c9c9;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #707070 !important;
  background-color: #c9c9c9 !important;
  border-color: #c9c9c9 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #808080;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #808080;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-white:before {
  background-color: #d9d9d9;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333;
  border-color: #333333;
  color: #ffffff;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black:before {
  background-color: #0d0d0d;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #1a4a35;
  color: #1a4a35;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff;
  border-color: #35956c;
}
.btn-primary-outline:before {
  background-color: #35956c;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #35956c !important;
  border-color: #35956c !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #e9221d;
  color: #e9221d;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff;
  border-color: #f27d7a;
}
.btn-secondary-outline:before {
  background-color: #f27d7a;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #f27d7a !important;
  border-color: #f27d7a !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #3c1d56;
  color: #3c1d56;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff;
  border-color: #7237a2;
}
.btn-info-outline:before {
  background-color: #7237a2;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7237a2 !important;
  border-color: #7237a2 !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #5e36a9;
  color: #5e36a9;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff;
  border-color: #9473d2;
}
.btn-success-outline:before {
  background-color: #9473d2;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #9473d2 !important;
  border-color: #9473d2 !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #edf067;
  color: #edf067;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #aaac12;
  border-color: #f8f9c4;
}
.btn-warning-outline:before {
  background-color: #f8f9c4;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f8f9c4 !important;
  border-color: #f8f9c4 !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #bcbcbc;
  color: #bcbcbc;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #707070;
  border-color: #efefef;
}
.btn-danger-outline:before {
  background-color: #efefef;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #efefef !important;
  border-color: #efefef !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff;
  border-color: #333333;
}
.btn-black-outline:before {
  background-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  border-color: #ffffff;
}
.btn-white-outline:before {
  background-color: #ffffff;
}
.btn-bgr {
  position: relative;
  transition: border 0.3s ease-in-out, color 0.5s;
  -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
}
.btn-bgr span {
  position: relative;
  z-index: 12;
}
.btn-bgr:before {
  content: ' ';
  position: absolute;
  /*width: 0;
        top:0;
        left: 0;
        bottom: 0;
        transition: width 0.3s ease-in-out;*/
  top: -2px;
  left: -2px;
  right: 105%;
  bottom: -2px;
  transition: right 0.3s ease-in-out;
  z-index: -1;
}
.btn-bgr:hover:before {
  right: -2px;
}
.btn-underline {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: color 0.2s ease-out;
}
.btn-underline:before {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #35956c;
  -webkit-transition: width 0.2s ease-out;
  -moz-transition: width 0.2s ease-out;
  transition: width 0.2s ease-out;
}
.btn-underline:hover:before {
  width: 100%;
}
.text-primary {
  color: #35956c !important;
}
.text-secondary {
  color: #f27d7a !important;
}
.text-success {
  color: #9473d2 !important;
}
.text-info {
  color: #7237a2 !important;
}
.text-warning {
  color: #f8f9c4 !important;
}
.text-danger {
  color: #efefef !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #1a4a35 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #e9221d !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #5e36a9 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #3c1d56 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #edf067 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #bcbcbc !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #7237a2;
}
.alert-warning {
  background-color: #f8f9c4;
}
.alert-danger {
  background-color: #efefef;
}
.mbr-gallery-filter li.active .btn {
  background-color: #35956c;
  border-color: #35956c;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #35956c;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #7ad0ab;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #b083d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  opacity: 0 !important;
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow a {
  color: #ffffff;
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'Roboto', sans-serif;
  font-size: 1.06rem;
  font-weight: 300;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-control > .mbr-iconfont {
  font-size: 1.696rem;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #35956c;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #35956c;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #35956c;
}
.btn-social + .btn {
  margin-left: .1rem;
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #35956c;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #35956c;
}
/* Headers*/
/* Content */
.content11 .counter-container div .counter {
  background: #35956c;
}
/*Menu*/
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.4rem;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.696rem;
}
.display-7 {
  font-weight: 300;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}
html,
body {
  height: auto;
  min-height: 100vh;
}
.cid-qERQcY2Z1e .navbar {
  padding: .5rem 0;
  background: #ffffff;
  transition: none;
  min-height: 50px;
}
.cid-qERQcY2Z1e .navbar-dropdown.bg-color.transparent.opened {
  background: #ffffff;
}
.cid-qERQcY2Z1e a {
  font-style: normal;
}
.cid-qERQcY2Z1e .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  top: -0.2em;
  text-decoration: none;
}
.cid-qERQcY2Z1e .nav-item a {
  padding: 0.7rem 0 !important;
  margin: 0 .65rem !important;
}
.cid-qERQcY2Z1e .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-qERQcY2Z1e .content-text {
  margin-bottom: 0;
}
.cid-qERQcY2Z1e .navbar-nav {
  position: relative;
  min-height: 49px;
  -ms-flex-direction: row;
  flex-direction: row;
}
@media (min-width: 992px) {
  .cid-qERQcY2Z1e .navbar-nav .main-menu-animated-line {
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    z-index: 100;
    border-top: 4px solid #35956c;
    -webkit-transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
    -moz-transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
    transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
  }
  .cid-qERQcY2Z1e .navbar-nav .main-menu-animated-line.bottom {
    bottom: 0;
  }
}
.cid-qERQcY2Z1e .navbar-nav .nav-item span {
  padding-right: 0;
}
.cid-qERQcY2Z1e .navbar-nav .nav-item a {
  margin: 0 1.3rem !important;
}
.cid-qERQcY2Z1e .display-4 > .mbr-iconfont {
  font-size: 1.43em;
}
.cid-qERQcY2Z1e .display-4 > .btn > .mbr-iconfont {
  font-size: 1.43em;
}
.cid-qERQcY2Z1e .nav-dropdown .dropdown-item {
  font-weight: 400;
}
.cid-qERQcY2Z1e .navbar-buttons.mbr-section-btn {
  display: flex;
  align-items: center;
}
.cid-qERQcY2Z1e .nav-dropdown .link {
  font-weight: 400;
}
.cid-qERQcY2Z1e .menu .navbar-brand .logo-text-part {
  vertical-align: top;
}
.cid-qERQcY2Z1e .content-right-side {
  text-align: center;
}
.cid-qERQcY2Z1e .menu-content-top {
  display: none;
  padding: 0 2rem;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  transition: min-height 0.25s ease-in-out;
}
.cid-qERQcY2Z1e .content-right-side .content-link {
  margin-left: 2rem;
}
.cid-qERQcY2Z1e .content-right-side .content-link span {
  vertical-align: middle;
  padding-right: 1rem;
}
.cid-qERQcY2Z1e .widget-icon {
  display: inline-block;
  padding-right: 1rem;
  font-size: 1.65rem;
}
.cid-qERQcY2Z1e .info-widget {
  padding-left: 2rem;
  padding-top: 0.5rem;
  padding-right: 3rem;
  border-left: 1px solid #e0e0e0;
}
.cid-qERQcY2Z1e .menu-content-right {
  display: flex;
}
.cid-qERQcY2Z1e .menu-content-right .info-widget:last-child {
  padding-right: 0;
}
.cid-qERQcY2Z1e .menu-content-right .info-widget:first-child {
  padding-left: 0;
  border-left: none;
}
.cid-qERQcY2Z1e .widget-content {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.cid-qERQcY2Z1e .widget-content .widget-title {
  font-weight: 600;
  margin-bottom: 7px;
}
.cid-qERQcY2Z1e .widget-content .widget-text {
  margin-top: 7px;
}
.cid-qERQcY2Z1e .menu-bottom {
  display: flex;
  width: 100%;
  padding: 0 2rem;
  position: relative;
  justify-content: center;
}
@media (min-width: 992px) {
  .cid-qERQcY2Z1e .navbar .menu-content-top {
    display: flex;
    min-height: 83px;
    height: 100%;
  }
  .cid-qERQcY2Z1e .content-right-side {
    text-align: right;
    flex-wrap: nowrap;
    display: flex;
  }
  .cid-qERQcY2Z1e .menu-content-top {
    border-bottom: 1px solid #e0e0e0;
  }
  .cid-qERQcY2Z1e .navbar {
    display: block;
    padding: 0;
  }
  .cid-qERQcY2Z1e .navbar .menu-logo {
    margin-right: auto;
    display: flex;
    align-items: center;
  }
  .cid-qERQcY2Z1e .navbar.navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
    -webkit-align-self: initial;
    align-self: initial;
    display: flex;
    align-items: center;
    z-index: 101;
  }
  .cid-qERQcY2Z1e .dropdown-item:hover:before {
    transform: scale(1, 1);
    width: 16px;
  }
  .cid-qERQcY2Z1e .navbar-toggler {
    display: none;
  }
}
.cid-qERQcY2Z1e .navbar-short .menu-content-top {
  height: 0;
  min-height: 0;
  border: none;
}
.cid-qERQcY2Z1e .btn {
  padding: 0.4rem 1.5rem;
  display: inline-flex;
  align-items: center;
}
.cid-qERQcY2Z1e .btn .mbr-iconfont {
  font-size: 1.2em;
}
.cid-qERQcY2Z1e .menu-logo {
  margin-right: auto;
}
.cid-qERQcY2Z1e .menu-logo .navbar-brand {
  display: flex;
  margin-left: 1.5rem;
  padding: 0.5rem 0;
  transition: padding .2s;
  min-height: 3.8rem;
  align-items: center;
}
.cid-qERQcY2Z1e .menu-logo .navbar-brand .navbar-caption-wrap {
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-qERQcY2Z1e .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-qERQcY2Z1e .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-qERQcY2Z1e .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-qERQcY2Z1e .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-qERQcY2Z1e .navbar-toggleable-sm .navbar-collapse {
  width: auto;
}
.cid-qERQcY2Z1e .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-qERQcY2Z1e .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-qERQcY2Z1e .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-qERQcY2Z1e .dropdown .dropdown-menu {
  background: #ffffff;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-qERQcY2Z1e .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 2.5385em 0.235em 3.5385em !important;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-qERQcY2Z1e .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-qERQcY2Z1e .dropdown .dropdown-menu .dropdown-item:hover {
  color: #35956c;
}
.cid-qERQcY2Z1e .dropdown .dropdown-menu .dropdown-item:hover .mbr-iconfont:before {
  transform: scale(0, 1);
}
.cid-qERQcY2Z1e .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-qERQcY2Z1e .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-qERQcY2Z1e .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-qERQcY2Z1e .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-qERQcY2Z1e .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-qERQcY2Z1e .navbar.navbar-short {
  min-height: 50px;
  transition: all .2s;
}
.cid-qERQcY2Z1e .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-qERQcY2Z1e .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-qERQcY2Z1e .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-qERQcY2Z1e .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-qERQcY2Z1e button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  margin: 1rem .8rem;
  align-self: center;
}
.cid-qERQcY2Z1e button.navbar-toggler:focus {
  outline: none;
}
.cid-qERQcY2Z1e button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #333333;
}
.cid-qERQcY2Z1e button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-qERQcY2Z1e button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-qERQcY2Z1e button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-qERQcY2Z1e button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-qERQcY2Z1e nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qERQcY2Z1e nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-qERQcY2Z1e nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-qERQcY2Z1e nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qERQcY2Z1e .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-qERQcY2Z1e .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-qERQcY2Z1e .collapsed .btn {
  display: flex;
}
.cid-qERQcY2Z1e .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-qERQcY2Z1e .collapsed .navbar-collapse.collapsing,
.cid-qERQcY2Z1e .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-qERQcY2Z1e .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-qERQcY2Z1e .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-qERQcY2Z1e .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-qERQcY2Z1e .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-qERQcY2Z1e .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-qERQcY2Z1e .collapsed .navbar-collapse.show .navbar-buttons {
  display: flex;
  justify-content: center;
  text-align: center;
}
.cid-qERQcY2Z1e .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-qERQcY2Z1e .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
.cid-qERQcY2Z1e .collapsed button.navbar-toggler {
  display: block;
}
.cid-qERQcY2Z1e .collapsed .navbar-brand {
  margin-left: 1rem !important;
  margin-top: .5rem;
}
.cid-qERQcY2Z1e .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-qERQcY2Z1e .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-qERQcY2Z1e .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-qERQcY2Z1e .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-qERQcY2Z1e .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
.cid-qERQcY2Z1e .collapsed .menu-bottom {
  flex-direction: column-reverse;
  justify-content: center;
}
@media (max-width: 991px) {
  .cid-qERQcY2Z1e .menu-bottom {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .cid-qERQcY2Z1e img {
    height: 3.8rem !important;
  }
  .cid-qERQcY2Z1e .btn {
    display: flex;
  }
  .cid-qERQcY2Z1e button.navbar-toggler {
    display: block;
  }
  .cid-qERQcY2Z1e .navbar-brand {
    margin-left: 1rem !important;
    margin-top: .5rem;
  }
  .cid-qERQcY2Z1e .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-qERQcY2Z1e .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-qERQcY2Z1e .navbar-collapse.collapsing,
  .cid-qERQcY2Z1e .navbar-collapse.show {
    display: block !important;
  }
  .cid-qERQcY2Z1e .navbar-collapse.collapsing .navbar-nav,
  .cid-qERQcY2Z1e .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-qERQcY2Z1e .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-qERQcY2Z1e .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-qERQcY2Z1e .navbar-collapse.collapsing .navbar-buttons,
  .cid-qERQcY2Z1e .navbar-collapse.show .navbar-buttons {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .cid-qERQcY2Z1e .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-qERQcY2Z1e .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-qERQcY2Z1e .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-qERQcY2Z1e .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-qERQcY2Z1e .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-qERQcY2Z1e .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
  .cid-qERQcY2Z1e .navbar-buttons.mbr-section-btn {
    width: 100%;
  }
  .cid-qERQcY2Z1e .dropdown .dropdown-menu .dropdown-item {
    padding: 0.235em 1.5em 0.235em 1.5em !important;
    transition: none;
    margin: 0 !important;
  }
}
.cid-qERQcY2Z1e .navbar-dropdown {
  flex-wrap: nowrap;
}
.cid-qERQcY2Z1e .navbar-collapse {
  -ms-flex-preferred-size: initial;
  flex-basis: initial;
}
.cid-qERQcY2Z1e .nav-link:focus {
  outline: none;
}
.cid-qERQcY2Z1e .navbar-toggler {
  position: relative;
}
.cid-qERQcY2Z1e .dropdown-item.active,
.cid-qERQcY2Z1e .dropdown-item:active {
  background: #ffffff;
  color: initial;
}
.cid-qERQKgj6pn {
  background-image: url("../../../assets/images/hargita10-1600x1217.jpg");
  background-position-y: 20%;
}
.cid-qERQKgj6pn .mbr-overlay {
  background: #c33764;
  background: linear-gradient(#c33764 -10%, #1d2671 75%);
}
.cid-qERQKgj6pn .mbr-section-title {
  margin: 0;
}
.cid-qERQKgj6pn .separator {
  background-color: #ffffff;
  color: #ffffff;
  align: center;
  height: 2px;
  max-width: 125px;
  margin-left: auto;
  margin-right: auto;
}
.cid-qERUXEDbeG {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #f9f9f9;
}
.cid-qERUXEDbeG h4,
.cid-qERUXEDbeG h5 {
  text-align: center;
}
.cid-qERUXEDbeG h5 {
  font-weight: 400;
}
.cid-qERUXEDbeG p {
  text-align: center;
}
.cid-qERUXEDbeG .img-icon {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.cid-qERUXEDbeG .card-box {
  text-align: center;
}
.cid-qERUXEDbeG .card-box:after {
  content: "";
  display: inline-block;
  width: 150px;
  height: 3px;
  background-color: #35956c;
}
@media (min-width: 992px) {
  .cid-qERUXEDbeG .my-col {
    flex: 0 0 20%;
    max-width: 20%;
    padding: 15px;
  }
}
.cid-qHw60zaF5w {
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-qHw60zaF5w .column-content {
  padding-top: 120px;
  padding-bottom: 90px;
  background-color: #ffffff;
  width: 100%;
  float: right;
  position: relative;
}
.cid-qHw60zaF5w .mbr-overlay {
  background: linear-gradient(#d6173f -10%, #00113e 75%);
}
.cid-qHw60zaF5w .container-full-width {
  position: relative;
}
.cid-qHw60zaF5w .text-content {
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}
.cid-qHw60zaF5w .layer {
  display: none;
  height: 100%;
  position: absolute;
  right: 49.9%;
  top: 0;
  bottom: 0;
}
.cid-qHw60zaF5w .layer path {
  fill: #ffffff;
}
@media (min-width: 576px) {
  .cid-qHw60zaF5w .text-content {
    width: 540px;
  }
  .cid-qHw60zaF5w .column-content {
    width: 100%;
  }
  .cid-qHw60zaF5w .layer {
    display: none;
  }
}
@media (min-width: 768px) {
  .cid-qHw60zaF5w .text-content {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .cid-qHw60zaF5w .text-content {
    width: 480px;
    margin: 0;
  }
  .cid-qHw60zaF5w .column-content {
    width: 50%;
  }
  .cid-qHw60zaF5w .layer {
    display: block;
  }
}
@media (min-width: 1200px) {
  .cid-qHw60zaF5w .text-content {
    width: 570px;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-qHw60zaF5w .container-full-width .layer {
    display: none;
  }
}
.cid-qERV8lO450 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-qERV8lO450 span {
  color: #c1c1c1;
}
.cid-qERV8lO450 .flex-block {
  display: flex;
  justify-content: space-between;
}
.cid-qERV8lO450 .flex-block span {
  font-size: 3rem;
  margin-right: 3rem;
}
@media (min-width: 577px) {
  .cid-qERV8lO450 .flex-block span {
    margin-left: 2rem;
  }
}
